Tests: test-qemu-img.sh
Depends: qemu-utils
Restrictions: superficial

Tests: test-qemu-system.sh
Depends: qemu-system
Restrictions: superficial

Tests: test-qemu-user.sh
Depends: qemu-user
Restrictions: superficial
